In [1]:
import pandas as pd
 
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
 
# this is a very toy example, do not try this at home unless you want to understand the usage differences
docs=["Shipment of gold demaged in a fire",
      "Delivery of silver arrived in a silver truck",
      "Shipment of gold arrived in a truck"
      
     ]
docs1=['I love Brazil. Brazil!',
                      'Sweden is best',
                      'Germany beats both']

In [3]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
# Create the tf-idf feature matrix
tfidf = TfidfVectorizer()
feature_matrix = tfidf.fit_transform(docs1)

# Show tf-idf feature matrix
feature_matrix.toarray()

array([[0.        , 0.        , 0.        , 0.89442719, 0.        ,
        0.        , 0.4472136 , 0.        ],
       [0.        , 0.57735027, 0.        , 0.        , 0.        ,
        0.57735027, 0.        , 0.57735027],
       [0.57735027, 0.        , 0.57735027, 0.        , 0.57735027,
        0.        , 0.        , 0.        ]])

In [4]:
tfidf.get_feature_names()
pd.DataFrame(feature_matrix.toarray(), columns=tfidf.get_feature_names())

     beats     best     both    brazil  germany       is      love   sweden
0  0.00000  0.00000  0.00000  0.894427  0.00000  0.00000  0.447214  0.00000
1  0.00000  0.57735  0.00000  0.000000  0.00000  0.57735  0.000000  0.57735
2  0.57735  0.00000  0.57735  0.000000  0.57735  0.00000  0.000000  0.00000

# Frecuencia del término según los documentos

In [6]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer(smooth_idf=False)
TfidfTransformer(smooth_idf=False)
#instantiate CountVectorizer()
cv=CountVectorizer()
 
# this steps generates word counts for the words in your docs
word_count_vector=cv.fit_transform(docs1)
word_count_vector.shape
word_count_vector.toarray()
#df_idf = pd.DataFrame(word_count_vector.toarray(), index=cv.get_feature_names(),columns=["idf_weights"])
tfidf = transformer.fit_transform(word_count_vector.toarray()) 
#tfidf.toarray().transpose()
pd.DataFrame(tfidf.toarray().transpose(), index=cv.get_feature_names())

                0        1        2
beats    0.000000  0.00000  0.57735
best     0.000000  0.57735  0.00000
both     0.000000  0.00000  0.57735
brazil   0.894427  0.00000  0.00000
germany  0.000000  0.00000  0.57735
is       0.000000  0.57735  0.00000
love     0.447214  0.00000  0.00000
sweden   0.000000  0.57735  0.00000